body {
    font-family: Verdana, "Times New Roman", sans-serif;
    background-color: antiquewhite;
}

.body {
    margin: 8px;
}

.navbar {
    display: block;
    margin: -8px;
    padding: 8px;
    background-color: rgb(196, 179, 158);
}

.recipe-list li {
    padding-bottom: 5px;
}

a {
    color: black;
}

.home {
    font-weight: 600;
}

.list {
    color: grey;
}

ul li {
    list-style-type: none;
}

.ingredients {
    display: grid;
    grid-template-areas:
    "protein sauce"
    "assemble assemble";
    border-style: dotted;
    border-radius: 2px;
    border-color:brown;
    gap: 5px;
}

#protein {
    grid-area: protein;
    margin: 2px;
}

#sauce {
    grid-area: sauce;
    margin: 2px;
}

#assemble {
    grid-area: assemble;
    margin: 2px;
}

p {
    padding-left: 25px;
}
